.login-container {
    margin-top: 100px;
    padding: 50px;
}

.otp-container {
    /* display: flex; */
    /* justify-content: center;
    gap: 50px; */
    margin-left: 400px;
}
    
.otp-input-field {
    width: 40px; /* Adjust width as needed */
    height: 40px; /* Adjust height as needed */
    text-align: center; /* Centers the text inside the input */
    font-size: 1.5rem; /* Adjust font size as needed */
    margin: 0px;
}

.margin-btn {
    margin-left: 110px;
    margin-right: 110px;
}

.custom-margin {
    margin-top: 150px;
}