.global-background-color {
  background-color: rgb(241, 241, 241);
  color: black;
}

.global-image{
  width: 100%;
  height: 200px;
  aspect-ratio: 3/2;
  object-fit: contain;
  /* mix-blend-mode: color-burn; */
}

.light-theme {
  background-color: white;
  color: black;
}

.dark-theme {
  background-color: black;
  color: aliceblue;
}